* {
    font-family: 'Poly', serif;
    font-size: 32px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-weight: lighter;
}

.hashwow {
    font-size: 110px;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 66%;
    text-align: center;
    padding-bottom: 20px;
    font-weight: lighter;
}
.hashwow img {
    margin-bottom: -14px;
    margin-right: -40px;
}

.hash {
    position: absolute;
    right: 60%;
    bottom: 33%;
    width: 20%;
    height: 33%;
    text-align: center;
    clear: both;
}
a {
    text-decoration: none;
    color: black;
}
.checksum {
    position: absolute;
    right: 40%;
    bottom: 33%;
    width: 20%;
    height: 33%;
    text-align: center;
}
.password {
    position: absolute;
    right: 20%;
    bottom: 33%;
    width: 20%;
    height: 33%;
    text-align: center;
}

.title {
    font-size: 45px;

}

.description {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

