<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="password.css">
    <title>HashWow</title>
</head>
<body>

<div class="one">
    <h1>
        <a href="index.html">
            <img class="hash-img" alt="img" src="images/hashwow.png"></a>
        HashWow
    </h1>
</div>

<form class="search-form" action="/password" method="POST">
    <div class="input-field">
        <!--  <input name="text" type="text" id="text" class="text" placeholder="" aria-placeholder=""
                 title="">-->
        <div class="result-block">
            <span id="result_pass" th:text="${password.generatedPassword}"></span>
            <button type="button" onclick="copytext('#result_pass')">Скопировать</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                function copytext(el) {
                    var $tmp = $("<textarea>");
                    $("body").append($tmp);
                    $tmp.val($(el).text()).select();
                    document.execCommand("copy");
                    $tmp.remove();
                }
            </script>
        </div>
    </div>


    <div class="input-field">
        <button type="submit" class="sub">Сгенерировать!</button>
    </div>
    <div class="knopki">
        <p align="center">
            <select name="type" id="algorithm" class="sel">
                <option value="random">Случайный пароль</option>
                <option value="memorable">Запоминающийся пароль</option>
                <option value="pin">Пин-код</option>
            </select>
        </p>

        <p align="center">
        <div class="length">
            <input name="length" type="text" id="length" class="length" placeholder="Введите длину" aria-placeholder=""
                   title="Поле ввода">
        </div>
        </p>
  <!--      <p>
            <label class="switch">
                <input name="type" id="type" type="checkbox" value="code">
                <span class="slider round"></span>
            </label>
        </p>-->
        <p>
            <label>
                <input type="checkbox" name="numbers" checked="checked">
                Цифры
                </input>
            </label>
            <br>
            <label>
                <input type="checkbox" name="symbols" checked="checked">
                Спецсимволы
                </input>
            </label>
        </p>
    </div>
</form>
</body>
</html>
